/* app css stylesheet */

body {
  padding-top: 20px;
}

.beers {
  list-style: none;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.beers li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

/** Detail View **/
img.beer {
  float: left;
  border: 1px solid black;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
}

ul.beer-thumbs {
  margin: 0;
  list-style: none;
}

ul.beer-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.beer-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}

.button-add-beer {
	width: 150px;
	height: 40px;
	border-radius: 3px;
	color: #fff;
	background: #2b54f3;
	text-align: center;
	margin: 20px;
}

.button-add-beer:hover {
	background: #002f43;
}

.button-add-beer a {
	display: inline-block;
	line-height: 40px;
	height: 40px;
	width: 150px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

#form-create-beer label, #form-create-beer input {
	display: block;
}

.input-description {
	height: 50px;
}

.no-float {
	float: none;
}

.return-home {
	display: block;
	height: 40px;
	width: 135px;
	border: 1px solid #dadce4;
	text-align: left;
	padding-left: 20px;
	margin-bottom: 20px;
}

.return-home ::before {
	content: "Retour Accueil";
	color: #36383d;
	line-height: 40px;
}

.return-home:hover {
	background: #dadce4;
}

.return-home a {
	height: 50px;
	width: 135px;
	display: inline-block;
	text-decoration: none;
}

.button-submit-create {
	height: 40px;
	width: 135px;
	color: #36383d;
	background: #01D758;
	font-weight: bold;
	margin-bottom: 20px;
}

.button-submit-create:hover {
	background: #2E8B57;
	color: #fff;
}