<div class="return-home">
	<a href="#/beers"></a>
</div>
<h1>Create a beer</h1>
<hr>
<p>Want to create a beer in the list ? Let's go guys !</p>

<div class="container">
 <!-- <form role="form">-->
 <form ng-submit="submit()" ng-controller="BeerCreateCtrl">
 
   <div class="form-group">
     <label for="name">Name</label>
     <input type="name" class="form-control" id="name" placeholder="Enter name" value="test" ng-model="name" >
   </div>
   
   <div class="form-group">
     <label for="pwd">Alcohol</label>
     <input type="alcohol" class="form-control" id="alcohol" placeholder="Enter alcohol" ng-model="alcohol">
   </div>
   
   <div class="form-group">
     <label for="pwd">Description</label>
     <input type="description" class="form-control" id="description" placeholder="Enter description" ng-model="description">
   </div>
   <div class="form-group">
     <label for="pwd">Id</label>
     <input type="id" class="form-control" id="id" placeholder="Enter id" ng-model="id">
   </div>
   <div class="form-group">
     <label for="pwd">Img</label>
     <input type="img" class="form-control" id="img" placeholder="Enter img" ng-model="img">
   </div>
   <div class="form-group">
     <label for="pwd">Availability</label>
     <input type="availability" class="form-control" id="availability" placeholder="Enter availability" ng-model="availability">
   </div>
   <div class="form-group">
     <label for="pwd">Brewery</label>
     <input type="brewery" class="form-control" id="brewery" placeholder="Enter brewery" ng-model="brewery">
   </div>
   <div class="form-group">
     <label for="pwd">Label</label>
     <input type="label" class="form-control" id="label" placeholder="Enter label" ng-model="label">
   </div>
   <div class="form-group">
     <label for="pwd">Serving</label>
     <input type="serving" class="form-control" id="serving" placeholder="Enter serving" ng-model="serving">
   </div>
   <div class="form-group">
     <label for="pwd">Style</label>
     <input type="style" class="form-control" id="style" placeholder="Enter style" ng-model="style">
   </div>     
   
   <!-- <div class="checkbox">
     <label><input type="checkbox"> Remember me</label>
   </div> -->
   <!-- <button type="submit" class="btn btn-default">Submit</button> -->
   <input class="button-submit-create" type="submit" id="submit" value="Submit" />
 </form>
</div>